@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="get" asp-page="/">
        <div class="form-floating">
            <input id="story-url" name="name" class="form-control" aria-required="true" value="@Model.Name"/>
            <label for="story-url" class="form-label">Search</label>
        </div>
        <div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Search</button>
        </div>
    </form>
    
    <h3>@Model.Description</h3>
    <ul>
        @{
            @foreach (var story in Model.Stories)
            {
                <li>
                    @await Html.PartialAsync("_StoryEntry", story)
                </li>
            }
        }
    </ul>
</div>