@page
@model RecentlyAddedModel
@{
    ViewData["Title"] = "Recently added";
}

<div>
    <h3>Recently added</h3>
    <ul>
        @{
            @foreach (var story in Model.Stories)
            {
                <li><a href="/StoryDetails/@story.FileName">@story.StoryName</a> by @story.AuthorName. @(story.IsComplete ? "Complete" : "Incomplete") Updated: @story.StoryUpdated.ToString("yyyy-MM-dd"). <a href="/Story/@story.FileName">Download</a></li>
            }
        }
    </ul>
</div>