@page "{authorName}"
@model StoriesByAuthorModel
@{
    ViewData["Title"] = $"Stories by {Model.Name}";
}

<div>
    <h3>Stories by @Model.Name</h3>
    <ul>
        @{
            @foreach (var story in Model.Stories)
            {
                <li>
                    @await Html.PartialAsync("_StoryEntry", story)
                </li>
            }
        }
    </ul>
</div>